<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="prismatic_joint_interface" params="joint_name lower upper initial:=0.0002">
        <joint name="${joint_name}">
            <command_interface name="position">
                <param name="min">${lower}</param>
                <param name="max">${upper}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">${initial}</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </xacro:macro>

    <xacro:macro name="passive_joint_interface" params="joint_name initial:=0.0002">
        <joint name="${joint_name}">
            <state_interface name="position">
                <param name="initial_value">${initial}</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>
    </xacro:macro>

    <xacro:macro name="ros2_control_system" params="name **joint_interfaces">
        <ros2_control name="${name}" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <xacro:insert_block name="joint_interfaces" />
        </ros2_control>
    </xacro:macro>

</robot>