<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lift_link"
        params="name prefix mass ixx iyy izz visual_filename collision_filename *origin">
        <link name="${prefix}${name}_link">
            <inertial>
                <xacro:insert_block name="origin" />
                <mass value="${mass}" />
                <inertia ixx="${ixx}" ixy="0" ixz="0" iyy="${iyy}" iyz="0" izz="${izz}" />
            </inertial>

            <visual>
                <geometry>
                    <mesh
                        filename="package://mechanism_description/meshes/vertical_lift/visual/${visual_filename}.obj" />
                </geometry>
            </visual>

            <collision>
                <geometry>
                    <mesh
                        filename="package://mechanism_description/meshes/vertical_lift/collision/${collision_filename}.stl" />
                </geometry>
            </collision>
        </link>
    </xacro:macro>

    <xacro:macro name="lift_joint"
        params="name prefix type parent lower:=0 upper:=0 effort:=0 velocity:=0 axis_xyz:='0 0 1' *origin">
        <joint name="${prefix}${name}_joint" type="${type}">
            <parent link="${parent}" />
            <child link="${prefix}${name}_link" />

            <xacro:insert_block name="origin" />

            <xacro:unless value="${type == 'fixed'}">
                <axis xyz="${axis_xyz}" />
                <limit lower="${lower}" upper="${upper}" effort="${effort}" velocity="${velocity}" />
            </xacro:unless>

        </joint>
    </xacro:macro>


</robot>