<?xml version="1.0"?>
<robot name="vertical_lift" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include
        filename="$(find mechanism_description)/urdf/vertical_lift/vertical_lift.xacro" />

    <xacro:arg name="prefix" default="" />
    <xacro:arg name="controller_yaml"
        default="$(find mechanism_description)/config/vertical_lift_controllers.yaml" />

    <link name="world" />

    <xacro:vertical_lift parent="world" prefix="$(arg prefix)">
        <origin xyz="0 0 -0.05" rpy="0 0 0" />
    </xacro:vertical_lift>

    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(arg controller_yaml)</parameters>
        </plugin>
    </gazebo>
</robot>